/* common.css : header, footer CSS*/

/* ----------------- header 시작 */
body{}
#wrap{/* 전체 큰묶음 */
    /* padding: 0 88px; */
    margin: 0 auto;
    position: relative;
} 

#wrap header{
    /* background-color: rgb(253, 253, 109); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%; 
    background-color: transparent;
}
#wrap header .top_wrap{/* 헤더 큰 묶음 */
    /* background-color: salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    height: 100px;
}

/* 로고 */
#wrap header .top_wrap h1 {}
#wrap header .top_wrap h1 a{}
#wrap header .top_wrap h1 a img{
    width: 150px;
}

/* nav */
#wrap header .top_wrap nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

#wrap header .top_wrap nav .gnb_wrap {/* gnb 큰묶음 */
    /* background-color: skyblue; */
    width: 830px;
    margin: 0 auto;
}
#wrap header .top_wrap nav .gnb_wrap .gnb{/* gnb - ul */
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

#wrap header .top_wrap nav .gnb_wrap .gnb li{
    /* background-color: rgb(117, 117, 211); */
    font-size: 1em;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

#wrap header .top_wrap nav .gnb_wrap .gnb li a{
    color: #fff;
}


/*  ------------------------------  lnb 디자인 시작*/
#wrap header .top_wrap nav .lnb_wrap {
  display: none;
  position: absolute;
  top: 100px; /* header 아래 위치 */
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0 200px;
  z-index: 9999;
}

#wrap header .top_wrap nav .lnb_wrap.active {
  display: flex;  /* 전체 lnb가 한번에 내려옴 */
  flex-flow: row nowrap;
}
#wrap header .top_wrap nav .lnb_wrap .lnb{  /* 공톻 선택자 */
    /* background-color: yellow; */
    padding: 40px 0;
    display: flex; 
    flex-flow:column nowrap;
    text-align: center;
}
#wrap header .top_wrap nav .lnb_wrap .lnb li {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 155px;
}
#wrap header .top_wrap nav .lnb_wrap .lnb:hover {background-color: rgba(229, 229, 229, 0.4);}
#wrap header .top_wrap nav .lnb_wrap .lnb li a span{
    font-weight: 500;
}
#wrap header .top_wrap nav .lnb_wrap .lnb li a {
    font-size: 0.875em;
}

/* =======================================  lnb - 해당 영역 */
#wrap header .top_wrap nav .lnb_wrap .intro { /* 기업소개 */
} 
#wrap header .top_wrap nav .lnb_wrap .product{ /* 제품소개 */}

#wrap header .top_wrap nav .lnb_wrap .invest {/* 투자정보 */}
#wrap header .top_wrap nav .lnb_wrap .esg {/* 경영 */}
#wrap header .top_wrap nav .lnb_wrap .pr {/* 홍보센터 */}
#wrap header .top_wrap nav .lnb_wrap .hr {/* 인재채용 */}
#wrap header .top_wrap nav .lnb_wrap .customer {/* 고객센터 */}

/*  ------------------------------  lnb 디자인 끝 */


/* right_wrap (오른쪽 메뉴 - 검색, 언어변경, 전체메뉴)*/
#wrap header .top_wrap nav .right_wrap{
    /* background-color: green; */
    display: flex;
    flex-flow: row nowrap;
}

/* right_menu (검색창) */
#wrap header .top_wrap nav .right_wrap .search{
    position: relative;
    padding-top: 40px;
    margin-right: 20px;
}
#wrap header .top_wrap nav .right_wrap .search input{
    background-color: transparent;
    border-bottom: 1px solid #fff;
    width: 165px; 
    margin-top: 10px;
    color: #fff;
    padding-left: 10px;
    padding-right: 30px;
}
#wrap header .top_wrap nav .right_wrap .search button{
    /* background-color: pink; */
    margin-right: 20px;
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
}
#wrap header .top_wrap nav .right_wrap .search button img{
    width: 20px; height: 20px;
    
}

/* right_wrap (언어변경) */
#wrap header .top_wrap nav .right_wrap .lang_wrap{
    /* background-color: blueviolet; */
    margin: 0 auto;
    margin-top: 40px;

}
#wrap header .top_wrap nav .right_wrap .lang_wrap #lang_btn{
    background-color: transparent;
    width: 74px; height: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;

}

#wrap header .top_wrap nav .right_wrap .lang_wrap #lang_btn option{
    text-align: center;
}
#wrap header .top_wrap nav .right_wrap .lang_wrap #lang_btn option p{
    font-size: 0.875em;
    font-weight: 900;
    color: #fff;
}

/* right_wrap (전체메뉴) */
#wrap header .top_wrap nav .right_wrap .all_menu_btn{
    /* background-color: aqua; */
    margin-top: 45px;
    margin-left: 20px;
}
#wrap header .top_wrap nav .right_wrap .all_menu_btn a{}
#wrap header .top_wrap nav .right_wrap .all_menu_btn a img{
    width: 20px; height: 20px;

}
/* ----------------- header 끝 */

/* --------------------------------------- input X표시 초기화 설정 */
/* Chrome, Safari, Edge */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
/* Firefox */
input[type="search"]::-moz-search-clear-button {
    display: none;
}
/* Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
}
/* ------------------------------ select 요소 포커스 시 테두리 제거 */
select:focus {
    outline: none;
}


/* ----------------- footer 시작 */
footer .footer_wrap {
background-color: #f5f5f5;
width: 100%; height: 420px;
padding: 40px 200px;
} 
footer .footer_wrap .footer_top{ /* footer 1번째 내용 */
    /* background-color: blueviolet; */
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
} 
footer .footer_wrap .footer_top .top_contents{ /* ul */
} 
footer .footer_wrap .footer_top .top_contents li{} 
footer .footer_wrap .footer_top .top_contents li a{} 
footer .footer_wrap .footer_top .top_contents li a p em{
    font-weight: 500;
} 
footer .footer_wrap .footer_top .top_contents li a p{
    margin: 15px;
    font-size: 0.875em;
} 

/* footer 2번째 내용 */
footer .footer_bottom{}
footer .footer_bottom .footer_group{/* footer 2번째 내용 큰묶음(로고,주소,전화,메일,패밀리사이트) */

}

footer .footer_bottom .footer_group a{/* footer 로고 */

}
footer .footer_bottom .footer_group a img{
    width: 130px; height: 40px;
    margin-bottom: 20px;
}

footer .footer_bottom .footer_group address{/* 주소 */
}
footer .footer_bottom .footer_group address .address_wrap .address { /* 주소, 연락처 묶음 */
    /* background-color: yellow;     */
    /* position: relative; */
}
footer .footer_bottom .footer_group address .address_wrap .address a span {/* 개인정보 */
    margin-top: 10px;
    margin-right: 10px;
}

footer .footer_bottom .footer_group address .address_wrap .contact {/* 연락처, 메일 , 패밀리사이트, sns*/
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
}
footer .footer_bottom .footer_group address .address_wrap .contact a span{
    margin-right: 15px;
}

footer .footer_bottom .footer_group address .address_wrap .contact .family_site{ /* 패밀리 사이트 */
    text-align: center;
    position: relative; bottom: 8px;
}
footer .footer_bottom .footer_group address .address_wrap .contact .family_site a{/* 패밀리사이트 글자 */
    background-color: #fff;
    width: 130px; height: 30px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: flex;
    flex-flow: column;
    line-height: 30px;
    margin-right: 580px;
}

footer .footer_bottom .footer_group address .address_wrap .contact .family_site ul{}
footer .footer_bottom .footer_group address .address_wrap .contact .family_site li{}
footer .footer_bottom .footer_group address .address_wrap .contact .family_site li a{
    display: none;
}
footer .footer_bottom .footer_group address .address_wrap .contact .family_site li a p{ /* 패밀리 사이트 내용 */
    line-height: 30px;
}

footer .footer_bottom .footer_group address .sns_wrap{/* sns 묶음 */
    /* background-color: blue; */
    width: 126px;
    text-align: center;
    display: flex; flex-flow: row;
    justify-content: space-between;
    
}
footer .footer_bottom .footer_group address .sns_wrap a{}
footer .footer_bottom .footer_group address .sns_wrap a img{
    width: 24px; height: 24px;
}


/* ----------------- footer 끝 */
