/* main */
/* 1행 : bnr 시작 */
main {}
main section {
}
main section .wrap {/* 1행 큰묶음 */}
main section .wrap #bnr { /* 1행 슬라이드 시작 */
    width: 100%; height: 936px;
}
main section .wrap #bnr .bnr {/* 1행 : bnr 슬라이드 큰묶음 */

}
main section .wrap #bnr .bnr .slide1 {
    /* padding: 0 88px; */
    background-image: url(../images/main/bg/figma_bg_01.png);
} 
main section .wrap #bnr .bnr .swiper-slide .bnr_wrap{
    padding: 255px 214px;
    display: flex; 
    flex-flow: row nowrap;
    margin: 0 auto;
    justify-content: space-between;
}

/* 1행 내용 */
main section .wrap #bnr .bnr .swiper-slide .bnr_wrap .bnr_txt{ /* 내용 */
}
main section .wrap #bnr .bnr .swiper-slide .bnr_wrap .bnr_txt p {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #fff;
}

main section .wrap #bnr .bnr .swiper-slide .bnr_wrap .bnr_txt h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4;


}

/* award 인증 이미지 */
main section .wrap #bnr .bnr .swiper-slide .bnr_wrap .award_img{}
main section .wrap #bnr .bnr .swiper-slide .bnr_wrap .award_img img{}


main section .wrap #bnr .bnr .slide2 {
    background-image: url(../images/main/bg/figma_bg_02.png);
}
main section .wrap #bnr .bnr .slide3 {
    background-image: url(../images/main/bg/figma_bg_03.png)
}


/* 1행 : bnr 끝 */

/* 2행 : product 시작 */
main section .product_wrap{
    width: 100%;
    height: 600px;
    background-color: palevioletred;
}
main section .product_wrap .contents{

}
main section .product_wrap h1{}
main section .product_wrap p{}
main section .product_wrap{}
/* 2행 : product 끝 */


/* 3행 : promotion 시작 */
/* 3행 : promotion 끝 */


/* 4행 : ir 시작*/
main section .ir_wrap{/* 4행 큰묶음 */
    background-color: yellow;
    
}
main section .ir_wrap .contents{/* 타이틀 묶음 */
    padding: 146px 88px;
}
main section .ir_wrap .contents h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 2.125em;
    font-weight: 500;
}
main section .ir_wrap .contents p{
    text-align: center;

}

/* ir 그리드 형식 */
main section .ir_wrap .ir_gird_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
    margin-top: 40px;
}


/* 4행 : ir 끝*/
/* 5행 */
/* 6행 */
/* 7행 */

