/* tablet.css -* 태블릿 : 1249-850 */
/* ================= HEADER CSS 수정 ================= */


/* GNB, LNB 공통 부모 구조 정렬 */
/* .top_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  } */
  
  /* GNB nav */
  /* nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  } */
  
  /* GNB ul */
  /* nav .gnb_wrap {
    background: skyblue;
    padding-top: 40px;
  }
  nav .gnb_wrap .gnb {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
  }
  nav .gnb_wrap .gnb li a {
    font-weight: bold;
    font-size: 16px;
  } */
  
  /* LNB 전체 래퍼 */
  /* nav .lnb_wrap {
    position: absolute;
    top: 100%; gnb 아래로
    left: 0;
    width: 100%;
    background-color: #fff200;
    display: none;
    padding: 20px 60px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100;
  }
   */
  /* LNB ul 리스트들 */
  /* nav .lnb_wrap .lnb {
    display: none;
    flex-direction: column;
    min-width: 160px;
    margin-right: 40px;
    line-height: 1.8;
    font-size: 14px;
  }
  
  nav .lnb_wrap .lnb li:first-child a {
    font-weight: bold;
  }
   */
  /* 오른쪽 메뉴 */
  /* .right_wrap {
    display: flex;
    gap: 12px;
    align-items: center;
    background: green;
    padding-top: 40px;
  } */
  
  /* ================= JS로 제어할 클래스 ================= */
  /* .lnb_wrap.active {
    display: flex !important;
    justify-content: flex-start;
  }
  
  .lnb_wrap .lnb.active {
    display: flex !important;
  }
   */